.navbarColor {
  background-color: #8a2be2;
}

.pxCustom {
    padding-left: 16rem !important;
    padding-right: 16rem !important;
}

.tHeaderFormatation th {
  font-weight: 600;
  font-size: 16px;
}