.text-primary-color {
    color:blueviolet
}

.btn-primary {
  background-color: rgb(162, 63, 254);
  border-color: rgb(162, 63, 254);
}

.btn-primary:active {
  background-color: blueviolet !important;
  border-color: blueviolet !important;
}

.btn-outline-primary {
  border-color: rgb(162, 63, 254);
  color: rgb(162, 63, 254);
}

.btn-outline-primary:hover {
  background-color: rgb(162, 63, 254);
  border-color: rgb(162, 63, 254);
}

.btn-outline-primary:active {
  background-color: blueviolet !important;
  border-color: blueviolet !important;
}

.btn-primary:hover {
  background-color: blueviolet;
  border-color: #8a2be2;
}

.table {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.text-error {
  min-height: 1.5em;
  color: red;
  font-size: 0.9rem;
}
