.text-primary-color {
    color:blueviolet
}

.btn-primary {
  background-color: rgb(162, 63, 254);
  border-color: rgb(162, 63, 254);
}

.btn-primary:hover {
  background-color: blueviolet;
  border-color: blueviolet;
}

.table {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

